<stock-inventory></stock-inventory>


    
                <!-- <div class="flight-tab ">
                   <div class="persent-one">
                        <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City ">
                   </div>
                   <div class="persent-one">
                        <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City ">
                   </div>
                   <div class="persent-one less-per">
                     <input type="date" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                   </div>
                   <div class="persent-one less-per">
                     <input type="date" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
                   </div>
                   <div class="persent-one">
                       <input type="text" placeholder="Flight Number" class="textboxstyle" id="passenger">
                    </div>
                   <div >
                      <input type="Submit" name="submit" value="Search" class="submit" id="srch">
                   </div>
                </div>
              
    

    <table class="display-flights">
        <thead>
            <tr>
                <td>Flight Number</td>
                <td>Origin City</td>
                <td>Departure Time</td>
                <td>Destination City</td>
                <td>Arrival Time</td>
                <td>Carrier</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </tbody>
    </table> -->